[uwsgi]
chdir = {{ project_dir }}
# env = DJANGO_SETTINGS_MODULE={{ project_slug }}.settings
socket = {{ uwsgi_socket }}
module = {{ project_slug }}.wsgi
callable = application
master = True
pidfile = {{ project_slug }}.pid
home = {{ env }}
vacuum = True
plugins = python35
chmod-socket=755
